<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/webjars/codemirror/5.48.2/lib/codemirror.css}"/>
	<link rel="stylesheet" th:href="@{/webjars/codemirror/5.48.2/theme/darcula.css}"/>
	<link rel="stylesheet" th:href="@{/webjars/codemirror/5.48.2/theme/solarized.css}"/>
	<style>
		.CodeMirror {
			border: 1px solid #eee;
			height: auto;
		}
	</style>
	<script th:src="@{/webjars/codemirror/5.48.2/lib/codemirror.js}"></script>
	<title>PlantUML Server</title>
</head>
<body>
<div class="container">
	<header class="text-center">
		<h1>PlantUML Server</h1>
		<p class="lead">Create your <a href="http://plantuml.com">PlantUML</a> diagrams directly in your browser !</p>
	</header>
	<section>
		<form class="form" method="post" accept-charset="UTF-8" th:action="@{/uml}">
			<div class="form-group">
				<label for="source">Workspace</label>
				<textarea id="source" class="form-control" rows="10" name="source" th:text="${source}"></textarea>
			</div>
			<div class="form-group col-md-2">
				<label for="theme">Select theme</label>
				<select id="theme" class="form-control" onchange="changeTheme()">
					<option selected>default</option>
					<option>darcula</option>
					<option>solarized dark</option>
					<option>solarized light</option>
				</select>
			</div>
			<input type="submit" class="btn btn-primary"/>
		</form>
	</section>
	<hr class="my-4"/>
	<section>
		<form class="form" method="post" accept-charset="UTF-8" th:action="@{/uml/recover}">
			<div class="form-group">
				<label for="url">You can enter here a previously generated URL:</label>
				<input id="url" class="form-control" name="url" type="text" size="150"
					   th:value="${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromContextPath(#request).path('/png/{source}').build(encodedSource)}"/>
			</div>
			<input type="submit" class="btn btn-primary"/>
		</form>
	</section>
	<hr class="my-4"/>
	<section>
		<div class="row">
			<div class="col">
				<p>
					<a class="btn btn-outline-primary"
					   th:href="@{/svg/{encodedSource}(encodedSource=${encodedSource})}">View as SVG</a>&nbsp;
					<a class="btn btn-outline-primary"
					   th:href="@{/txt/{encodedSource}(encodedSource=${encodedSource})}">View as ASCII Art</a>&nbsp;
				</p>
			</div>
		</div>
		<div class="row text-center">
			<div class="col">
				<img class="img-fluid img-thumbnail" th:src="@{/png/{encodedSource}(encodedSource=${encodedSource})}" alt="PlantUML diagram"/>
			</div>
		</div>
	</section>
	<footer class="text-muted text-center">
		<p th:text="${T(net.sourceforge.plantuml.version.Version).fullDescription()}"></p>
	</footer>
</div>
<script>
	var codeMirror = CodeMirror.fromTextArea(document.getElementById('source'), {
		lineNumbers: true,
		styleActiveLine: true,
		viewportMargin: Infinity
	});

	function changeTheme() {
		var input = document.getElementById('theme');
		var theme = input.options[input.selectedIndex].textContent;
		codeMirror.setOption('theme', theme);
	}
</script>
</body>
</html>